# dont spy on my environment variables !!!
.env

# also i bloody hate macOS finder config files go away
.DS_Store

# as well as this the vs code config files arent needed either
.vscode

# let alone jetbrains
.idea